{% extends 'base.html' %}


{% block content %}

<div class="row">
    <!-- Left Sidebar -->
    <!-- side bar here -->
    {% include 'dashboard/sidebar.html' %}


    <div class="col-md-9">
        <h4>All Categories</h4>
        <table class="table table-hover">
        <thead>
            <tr>
            <th>Sr No</th>
            <th>Category Name</th>
            <th>Created at</th>
            <th>Updated at</th>
            <th>Action</th>
            </tr>
        </thead>
        <tbody>

            {% for i in categories %}
            <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{i.category_name}}</td>
            <td>{{i.created_at}}</td>
            <td>{{i.updated_at}}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>

</div>

{% endblock %}